.container-fluid{
    overflow: hidden;
    font-family: Arial, Helvetica, sans-serif;
}

.row--mod{
    padding: 12px;
    background-color: #cc2337;
    position: relative;
    z-index: 1000;
}


.maincontent{
    margin: 25px 0;
    text-align: justify;
    padding: 40px;
}

.sidebar{
    padding: 30px 30px;
    background-color: #f2f2f2;
}

@media print {
    -webkit-print-color-adjust: exact;
    .container-fluid{
        margin: 0;        
    }
}